{% extends "base.html" %}

{% block content %}
        <div class="col-md-4 col-md-offset-4">
            <div class="title">
                <h3>Create a new album:</h3>
            </div>
            <form method="post" action="{{ url_for('create_album') }}" enctype=multipart/form-data>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="name" required='true' />
                </div>
                <div class="form-group">
                    <label for="photo">Select thumbnail:</label>
                    <input type="file" class="form-control" name="photo" required='true' />
                </div>
                <input type="submit" class="btn btn-primary" value="Upload" />
            </form>
        </div>
{% endblock %}
