
{% extends "base.html" %}

{% block content %}


{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if photos %}
<h2>Here's your photos</h2>
    <ul>
    {% for photo in photos %}
        <li><img src='data:image/png;base64, {{photo[0]}}'/></li>
    {% endfor %}
    </ul>
{% endif %}

{% if friends %}
<h2>Here's your friends</h2>
    <ul>
    {% for friend in friends %}
        <li>{{friend[0] + ' ' + friend[1]}}</li>
    {% endfor %}
    </ul>
    <form method="post" action="{{ url_for('friends') }}">
        <label for="email">Friend's Email:</label>
        <input type="text" name="email" required='true' /><br />
        <input type="submit" value="Add" />
    </form>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

{% endblock %}
