{% extends "base.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <div class="title">
        <h3>Upload a photo!</h3>
    </div>
        <form method="post" action="{{ url_for('upload_file') }}" enctype=multipart/form-data>
            <div class="form-group">
                <label for="album">Album</label>
                <select class="form-control" name="album">
                    {% for album in albums %}
                        <option value="{{album[1]}}">{{album[0]}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="photo">Select photo:</label>
                <input type="file" class="form-control" name="photo" required='true' />
            </div>
            <div class="form-group">
                <label for="caption">Please caption:</label>
                <input type="text" class="form-control" name="caption" required='true' />
            </div>
            <div class="form-group">
                <label for="tags">Tags:</label>
                <input type="text" class="form-control" name="tags" required='true' />
            </div>
            <input class="btn btn-primary" type="submit" value="Upload" />
        </form>
</div>
{% endblock %}
